<% if current_user %>
  <h1>Hello, <%= current_user.username %></h1>
<% else %>
  <h1>Hello! Sign up to have lists of your own.</h1>
<% end %>
<hr>

<h2>Here are all the lists you could possibly ever imagine with your heart:</h2>

<% @lists.each do |list| %>
  <h3><%= link_to "#{list.name}", current_list_path(list) %></h3>
      <ul><% list.items.each do |item| %>
        <li><%= item.description %></li>
        <% end %>
      </ul>
  <% end %>

