<h2>Here You Can See All Of The Lists</h2>

<%= link_to "Create New List", new_list_path, :class => "btn btn-default" %>

<hr> 

<% @lists.each do |list| %>
  <p><%= link_to "#{list.name}", list_path(list.id) %></p>
<% end %>