<div class="single-list">
<h2>All lists: </h2>
<table class="ui collapsing table segment">
  <tbody class="items">
    <% @lists.each do |list| %>
    <tr >
      <td><%= link_to "#{list.name}", list_path(list.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
