<div class="single">
<% form_for(@list, html: {:id => "list-form"}) do |f| %>
  <p>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </p>

  <p>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
  </p>
    <div class="actions">
      <%= f.submit, class: "list-name" %>
    </div>
  </p>
<% end %>
</div>
