<h1><%=@list.name%></h1>
<h2>owner: <%=@name%></h2>

<div class='list'>
  <ul>
    <% @list.items.each do |item| %>
      <li class='item'><%= item.inspect %></li>
    <% end %>
  </ul>

</div>
<%= link_to "See all #{@name}'s lists", user_path(@list.user) %>