<h2> Here's your lists, your own personal lists! </h2>
<% @lists.each do |list| %>
  <h3><%= list.title %></h3>
  <p><%= list.description %></p>
  <% end %>

  <%= link_to 'Make a new list!', new_list_path %>