<br><br><br><br>this is the root path
khasgkasjh

<% if @current_user.nil? %>
  <div class=".col-md-6"> <%= render "users/form" %></div>
  <div class = ".col-md-4"> <%= @lists.inspect %></div>
<% else %>
  <div class=".col-md-6"> <%= @users_lists.inspect %></div>
  <div class = ".col-md-4"><%= @lists.inspect %> </div>
<%  end %>
