<h1>Hello, <%= @user.username%>!</h1>

<% if @lists.empty? %>
  <div>
    <h2>You don't have any lists!</h2>
  </div>
<% else %>
  <ul>
  <% @lists.each do |list| %>
    <li><%= link_to "#{list.name}", list_path(list) %></li>
  <% end %>
</ul>
<% end %>

<div>
  <%= link_to "Create new list!", new_list_path %>
</div>


