<div id='menu'>
  <ul>
    <li>
      <a href="/" style="color:black">home</a>
    </li>
    <li>
      <%= link_to "profile", user_path(@user.id) %>
    </li>
    <li>
      <a href="/portfolio">portfolio</a>
    </li>
    <li>
      <a href="/blog">blog</a>
        <ul>
            <li><a href=#></a></li>
        </ul>
    </li>
    <li>
      <%= link_to "sign out", signout_path %>
    </li>
  </ul>
</div>

<h1>Hi <%= current_user.username %>,</h1>

<!-- if user's list == 0
  <h2>Create your first list</h2>
else
  iterate over user's list object do |list|
    link_to list.name, list_path(user.list.id) -->


