<div id="home-container">
  <img src="http://www.scripps.com/sites/default/files/TheListLogo_0.png"><br>
  <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
  <%= link_to "Sign in", session_new_path, class: "btn btn-primary" %><br>

  <% @lists.each do |list| %>
    <%= link_to list.list_name, list_path(list) %>
  <% end %>
</div>
