<div class="container">
  <div class="jumbotron">
   <h4> user id <%= @user_id %> </h4>
    <h1>Listable</h1>
    <p>Make lists, find lists, do lists! </p>
    <p><a href="/signup" class="btn btn-danger btn-lg" role="button">Sign In & Up</a></p>
  </div>
</div>
