<h1>Welcome to CueQueue!</h1>
<p>Cue: a thing said or done that serves as a signal to someone to begin their task.</p>
<p>Queue: a line or sequence of things awaiting their turn to be attended to.</p>
<p>CueQueue: A place to keep your list items in order for execution. Also colloquially writte as QQ.</p>