/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.container {
  margin-top: 50px;
}

.single {
  width: 300px;
  margin: auto;
  background-color: rgba(30, 144, 255, 0.20);
  padding: 20px;
  border-color: rgba(30, 144, 255, 0.20);
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #428bca;
}

.jumbotron {
  margin-bottom: 5px;
  border-color: rgba(30, 144, 255, 0.20);
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #428bca;
}

#sign-up-area {
  font-size: 12px;
  line-height: .5;
}

#sign-in-area {
  font-size: 12px;
  line-height: .5;
  display: inline-block;
}
