<!DOCTYPE html>
<html>
<body style="font: normal 24px/40px 'Comfortaa', Helvetica, sans-serif;color: blue;height: 100%;">
    <div class="wrapper" style="height: 100%;padding-bottom: 40px;">
      <div class="box" style="width: 80%;margin: auto;">
        <h1>Welcome to Llama Lister!</h1>
        <p>Your list looks lonely! Why don't you head on over and write some lists?</p>
      </div>
    </div>
  </body>
</html>